* {
  magin: 0;
  padding: 0;
}
body {
  padding-top: 5em;
  background-image: url("/../../assets/world-background opacity.png");
  background-position: 50% 0%;
  background-size: contain;
  background-repeat: no-repeat;
}
